/************* MIXINS *************/
/************* RESET *************/
* {
  margin: 0;
  padding: 0; }

/************* START BUILD *************/
body, html {
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: #465161;*/ }

#wrapper {
  margin: 0px auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 400px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16) !important; }

#inputwrapper #rec {
  width: 40px;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden; }
#inputwrapper .recording {
  /*background-color: #00B8BD;*/ }
#inputwrapper .recording:after {
  position: absolute;
  width: 20px;
  height: 20px;
  content: " ";
  display: block;
  background-color: #EC5956;
  border-radius: 50%;
  opacity: 0.5;
  animation: pulse 0.75s infinite; }
@keyframes pulse {
  from {
    transform: scale(0);
    opacity: 0.75; }
  to {
    transform: scale(3);
    opacity: 0; } }
#inputwrapper #input {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 20px;
  width: 360px;
  outline: none;
  height: 50px;
  border: 1px solid #F3F5F6;
  border-top: none;
  color: #169FAB;
  background-color: #F3F5F6;
  font-size: 14px; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #909090;
  opacity: 0.5; }

#response {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 400px;
  height: 500px;
  overflow: scroll;
  font-size: 14px;
  padding: 20px;
  text-align: left;
  border: 1px solid #F3F5F6;
  display: flex;
  align-items: flex-end;
  background-color: white;
  flex-direction: column; }
  #response .name {
    font-size: 10px;
    text-transform: uppercase;
    color: #909090;
    margin: 10px 0 5px 0; }
  #response .userTalk {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
    background-color: #00B8BD;
    color: white;
    width: 100%;
    border-radius: 10px;
    animation: slideInUp 0.45s;
    height: auto; }
    #response .userTalk img {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100%;
      padding: 10px; }
  #response .botTalk, #response #loading {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #F3F5F6;
    border-radius: 10px;
    color: #169FAB;
    animation: slideInUp 0.45s; }
    #response .botTalk img, #response #loading img {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      width: 100%;
      padding: 10px; }
  #response #loading {
    margin: 10px 0 5px 0;
    width: 100px;
    height: 50px;
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%; }
  #response a {
    color: #00B8BD; }

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }
@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
